
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
    font-family:'Courier New', Courier, monospace;
}
header{
    display:flex;
    justify-content: space-around;
    background: linear-gradient( to bottom,rgb(219, 67, 89), rgb(158, 29, 49));
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
header div p{
    margin:0;
    padding:1em;
    font-size: 2em;
}
#searchbar{
    border-radius: 5px 0 0 5px;
    background-color:rgba(210, 98, 98, 0.695);
    color:white;
    border:none;
    padding:7px;
}
#searchbar::placeholder{
    color:rgb(237, 229, 229);
}
#searchbar:focus{
    outline: none;
}
#searchicon{
    padding:7px 7px 7px 7px;
    border-radius: 0 5px 5px 0;
    border:none;
    background-color:rgba(182, 25, 25, 0.695);
}
#searchicon:hover{
    cursor: pointer;
    color:white;
    background-color: rgb(210, 98, 98);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .menuicon{
    padding:1em;
    margin:0;
    font-size:2em;
}
nav .menuicon:hover{
    cursor: pointer;
}
.visible{
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}
#studentdiv{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    background:linear-gradient( to right,rgb(92, 82, 84),rgb(104, 88, 92)); ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color:white;
}
.closebtn{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3.5em;
    margin:0;
}
.closebtn:hover{
    cursor: pointer;
    color:black;
}
.studentlist{
    font-size:1.5em;
}
#students{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#students a{
    text-decoration: none;
    color:white;
    padding:5px;
}
#students a:hover{
    cursor: pointer;
    color:rgb(219, 67, 89);
    transform: scale(1.1);
}
#students a:visited{
    color:white;
}
#formdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
    margin-left:20px;
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset input{
    width:300px;
    max-width: 300px;
    padding:10px;
    margin:15px;
}
#addstud{
    width:70%;
    height:50px;
    background-color:rgba(255, 0, 0, 0.695);
    border:1px solid grey;
    color:white;
}
#addstud:hover{
    cursor: pointer;
    color:black;
    font-weight: 800;
    border:1px solid black;
}
#errortext{
    padding-left:20px;
    font-weight: 700;
    color:rgba(255, 0, 0, 0.695);
}
#studentranking{
    padding:10px;
}
#studentranking:hover{
    cursor: pointer;
    text-decoration: underline;
}
#studentscardcontainer,.inputdiv,.buttondiv,.averagebtndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.studentcard{
    display: flex;
    flex-direction: column;
    position: relative;
    margin:20px 0px 20px 0px;


    width:90%;
    border:1px solid black;
}
.studname{
    padding-left:20px;
    color:rgba(255, 0, 0, 0.695);
    font-weight: 800;
}
.studentnamecontainer{
    display: flex;
    align-items: center;
}
.totalaverage{
    margin-left:20px;
    padding:5px;
    border-radius: 5px;
}
.totalaverage:hover{
    cursor: pointer;
}
.outerinputdiv{
    display: flex;
    justify-content: space-evenly;
    width:100%;
}
.subcontainer{
    display:flex;
}
.deletebtn{
    position: absolute;
    top:0;
    right:25px;
    font-size: 2em;
    padding:10px;
}
.deletebtn:hover{
    cursor:pointer;
    background-color: rgb(104, 88, 92);
    color:rgb(255, 0, 0);
}
.resetbutton{
    position: absolute;
    bottom:0;
    right:25px;
    font-size: 1.2em;
    padding:10px 13px 5px 10px
}
.resetbutton:hover{
    cursor:pointer;
    background-color: rgb(104, 88, 92);
    color:rgb(255, 0, 0);
}
.inputdiv .noteinput,.averagebtn{
    padding:15px;
    width:110px;
    margin:15px 25px 15px 0px;
    text-align: center;
    border-radius: 10px;
}
.addnote{
    padding:15px;
    margin:15px 25px 15px 0px;
    border-radius: 5px;
}
.addnote:hover,.averagebtn:hover,.totalaverage:hover{
    cursor: pointer;
    background-color: rgba(51, 50, 50, 0.377);
    color:rgb(255, 0, 0);
}
.hide{
    display: none;
}
.tablediv{
    display: flex;
}
.subjectcolumns{
    display:flex;
    align-items: center;
    flex-direction: column;

    border:1px dashed black;
    margin-bottom:10px;
    margin-right:4px;
}
.title{
    padding:20px;
    margin:0;

    text-decoration: underline;
}
.averagegrade{
    margin:0;
    padding-top:10px;
    color:rgb(158, 29, 49);
    font-weight:700;
    font-size: 13px;
}
.grade:hover{
    cursor: pointer;
}
.grade{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:7px 0 7px 0;
    width:100%;
    height:30px;
}
.deleteicon{
    display: none;
    padding:0 0 3px 5px;
    color:red;
}
.rankingtable{
    display: flex;
    justify-content: center;
    margin-bottom:30px;
}
.rankingtable tbody{
    border:1px solid black;
}
.rankingtable td:first-child{
    padding-right:40px;
    text-align: center;
}
.rankingtable td:nth-child(2){
    text-align: center;
}


/*Responsive design*/
@media screen and (max-width: 1280px) {
    .classroomtitle{
        font-size: 1.5em;
    }
    nav .menuicon{
        font-size:1.5em;
    }
    .studentnamecontainer{
        padding-top:10px;
    }
    .studname,.totalaverage,.noteinput,.addnote,.averagebtn{
        font-size:12px;
    }
    .inputdiv .noteinput,.averagebtn{
        padding:10px 5px 10px 5px;
        margin:10px 20px 10px 0px;
    }
    .addnote{
        padding:10px;
        margin:10px 20px 10px 0px;
    }
    .title{
        font-size:14px;
        padding: 12px;
    }
    .Math .title{
        padding:12px 18px 12px 18px;
    }
    .deletebtn{
        right:10px;
        font-size: 1.5em;
    }
    .resetbutton{
        right:7px;
    }
}
@media screen and (max-width:1024px){
    .classroomtitle{
        font-size: 1.2em;
    }
    #searchbar{
        padding:5px;
        max-width:110px;
    }
    #searchbar::placeholder{
        font-size:10px;
    }
    nav .menuicon{
        font-size:1.2em;
    }
    legend{
        font-size: 14px;
    }
    fieldset input{
        width:250px;
    }
    fieldset input::placeholder{
        font-size: 12px;
    }
    #studentranking{
        font-size:14px;
    }
    .studname,.totalaverage,.noteinput,.addnote,.averagebtn{
        font-size:10px;
    }
    .inputdiv .noteinput,.averagebtn{
        padding:10px 5px 10px 5px;
        margin:7px 17px 7px 0px;
        max-width: 80px;
    }
    .inputdiv .noteinput{
        font-size:10px;
    }
    .inputdiv .noteinput::placeholder{
        font-size: 10px;
    }
    .addnote{
        padding:9px;
        margin:7px 17px 7px 0px;
    }
    .title{
        font-size:10px;
        padding: 10px;
    }
    .Math .title{
        padding:10px 16px 10px 16px;
    }
    .deletebtn{
        font-size: 1.1em;
        right:5px;
        padding:7px;
    }
    .resetbutton{
        font-size:0.9em;
        right:5px;
        padding:7px 5px 5px 5px;
    }
}
@media screen and(max-width:768px){

}
