
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
    font-family:'Courier New', Courier, monospace;
}
header{
    display:flex;
    justify-content: space-around;
    background: linear-gradient( to bottom,rgb(219, 67, 89), rgb(158, 29, 49));
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
header div p{
    margin:0;
    padding:1em;
    font-size: 2em;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .menuicon{
    padding:1em;
    margin:0;
    font-size:2em;
}
nav .menuicon:hover{
    cursor: pointer;
}
.visible{
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}
#studentdiv{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    background:linear-gradient( to right,rgb(92, 82, 84),rgb(104, 88, 92)); ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color:white;
}
.closebtn{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3.5em;
    margin:0;
}
.closebtn:hover{
    cursor: pointer;
    color:black;
}
.studentlist{
    font-size:1.5em;
}
#students{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#students a{
    text-decoration: none;
    color:white;
    padding:5px;
}
#students a:hover{
    cursor: pointer;
    color:rgb(219, 67, 89);
    transform: scale(1.1);
}
#students a:visited{
    color:white;
}
#formdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
    margin-left:20px;
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset input{
    width:300px;
    max-width: 300px;
    padding:10px;
    margin:15px;
}
#addstud{
    width:70%;
    height:50px;
    background-color:rgba(255, 0, 0, 0.695);
    border:1px solid grey;
    color:white;
}
#addstud:hover{
    cursor: pointer;
    color:black;
    font-weight: 800;
    border:1px solid black;
}
#errortext{
    padding-left:20px;
    font-weight: 700;
    color:rgba(255, 0, 0, 0.695);
}
#studentscardcontainer,.inputdiv,.buttondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.studentcard{
    display: flex;
    flex-direction: column;
    position: relative;
    margin:20px 0px 20px 0px;


    width:90%;
    border:1px solid black;
}
.studname{
    padding-left:20px;
    color:rgba(255, 0, 0, 0.695);
    font-weight: 800;
}
.outerinputdiv{
    display: flex;
    justify-content: space-evenly;
    width:100%;
}
.subcontainer{
    display:flex;
}
.deletebtn{
    position: absolute;
    top:0;
    right:25px;
    font-size: 2em;
    padding:10px;
}
.deletebtn:hover{
    cursor:pointer;
    background-color: rgb(104, 88, 92);
    color:rgb(255, 0, 0);
}
.inputdiv .noteinput{
    padding:15px;
    width:110px;
    margin:15px 25px 15px 0px;
    text-align: center;
    border-radius: 10px;
}
.addnote{
    padding:15px;
    margin:15px 0px 15px 0px;
    border-radius: 5px;
}
.addnote:hover{
    cursor: pointer;
    background-color: rgba(51, 50, 50, 0.377);
    color:rgb(255, 0, 0);
}
.hide{
    display: none;
}
.tablediv{
    display: flex;
}
.subjectcolumns{
    display:flex;
    align-items: center;
    flex-direction: column;

    border:1px dashed black;
    margin-bottom:10px;
    margin-right:4px;
}
.title{
    padding:20px;
    margin:0;

    text-decoration: underline;
}